html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
a,
a:visited,
a:hover {
  outline: none;
}
a {
  color: #111111;
}

.section {
    text-align: center;
}

.section.darkgray {
    background-color: #6d6565;
    color: #fff;
}

/* Custom Fonts */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Page level */
h1, h2, h3, h4, h5 {
    font-family: 'BebasNeueRegular', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-weight: 400;
    font-size: 40px;
}

h3 {
    font-weight: 300;
    font-size: 30px;
}

h4 {
    font-weight: 200;
    font-size: 20px;
}

h5 {
    font-weight: 100;
    font-size: 10px;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

/* Home section */
#home {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: table;
    color: #010101;
}

.home-parallax {
    background: url(../i/parallax1.jpg) fixed;
    background-size: cover;
    background-position: center top;
}

.home-wrapper {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

.home-header {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}

.home-header a {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    border: 5px solid;
    text-decoration: none;
    padding: 0 50px;
}

.home-header a:hover {
    color: rgba(0, 0, 0, 0.9);
}

/* Menu section */

nav {
    width: 100%;
    z-index: 1000;
    opacity: 1;
}

nav.sticky {
    background: rgba(255, 255, 255, 0.8);
}

.logo {
    height: 80px;
    vertical-align: middle;
    display: table-cell;
}

nav h2 {
    margin: 20px 0;
}

/* Portfolio section */

.portfolio-section {
    padding: 0;
    margin: 0 auto;
    display: block;
}

#portfolio.section .container h3 {
    margin: 20px 0;
}

.portfolio-item {
    padding: 0;
    margin: 0 auto;
    display: block;
}

.portfolio-item .portfolio-image {
    overflow: hidden;
    display: block;
    position: relative;
    height: 300px;
    opacity: 0.75;
}

.portfolio-image.portfolio1 {
    background: url('/assets/i/portfolio/portfolio1.jpg');
    background-size: cover;
}

.portfolio-image.portfolio2 {
    background: url('/assets/i/portfolio/portfolio2.jpg');
    background-size: cover;
}

.portfolio-image.portfolio3 {
    background: url('/assets/i/portfolio/portfolio3.jpg');
    background-size: cover;
}

.portfolio .portfolio-flip {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    opacity: 0;
    z-index: 4;
    background-color: #FFD;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.portfolio-item .portfolio .portfolio-image:hover .portfolio-flip {
    opacity: 1;
    filter: alpha(opacity(100));
}

.portfolio .portfolio-flip h1{
    margin-top: 100px;
    color: #000;
}
.portfolio .portfolio-flip h2 {
    color: #000;
}

#portfolio.section, .portfolio-section {
    margin: 0;
    padding: 0;
}


/* Contact Us section */
#contactus {
    background: url(../i/parallax1.jpg) fixed;
    background-size: cover;
    background-position: center top;
    padding: 100px 0;
}

#contactus .contact {
    padding: 0 150px;
}

#contactus .contact h2 {
    background-color: lightgray;
    opacity: 0.8;
    margin: 50px 0;
}

#contactus .contact h3 {
    color: #fff;
}

#contactus span {
    color: #fff;
    font-size: 10px;
}

@media (max-width: 640px) {
    #contactus .contact {
        padding: 0 50px;
    }
}

@media (min-width: 990px) {
    #contactus .contact {
        padding: 0 350px;
    }
}